.root {
    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: #5BC0DE;
}

.tab-pane .tab-header-background {
    -fx-background-color: none;
}

.vbox {
    -fx-background-color: none;
    -fx-border-color: #1a1a1a;
    -fx-border-radius: 5; 
}

.tool-bar {
    -fx-background-color: none;
}

.menu:hover{}
.menu:showing {}
.menu-item:hover {}
.menu-item:focused {}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.list-view {
    -fx-border-color: #103A66;
}

.list-view:selected {
    -fx-border-color: #103A66;
}

.list-cell:filled:hover {
    -fx-background-color: #5BC0DE;
}

.list-cell:filled:selected {
    -fx-background-color: #5BC0DE;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #5BC0DE;
}

.tab-header-background {
    -fx-background-color: #FF7300;
}

.button{
    -fx-background-color: #103A66;
    -fx-text-fill: #ffffff;
    -fx-border-color: #1a1a1a;
    -fx-border-radius: 5;  
}

.btn{
    -fx-background-color: #103A66;
    -fx-text-fill: #ffffff;
    -fx-border-color: #1a1a1a;
    -fx-border-radius: 5;    
}

.button:focused {
    -fx-border-color: #103A66;
}

.button:active{
    -fx-background-color: #103A66;
}

.text-field:focused {}

.text-area:focused {}

.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #103A66;
}

.tab:selected{}